*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    width: 50%;
    height: 100%;
    background:linear-gradient(45deg, red,rgb(187, 0, 255), blue) ;
    float: left;
    position:fixed;
}
.main h1{
    position: absolute;
    color: white;
    font-size: 55px;
    font-weight: bolder;
    font-family:Goudy Stout;
    margin-top: 180px;
    margin-left: 50px;
    
}
.container{
   padding-left:180px;
   float:right;
   height: 100vh;
   
   background-color: #f2f1f1;

}
.inner-div{
    width: 100%;
    margin-right: 150px;
}
form{
    width: 100%;
}

#login{
 padding-top:10px ;
 font-family: Cooper Black;
 font-size: 40px; 
  font-weight: bolder;
  font-variant: small-caps;
}
#welcome-msg{
 padding-top:20px;
 
}

.name{
    line-height: 60px;
    font-size: 25px;   
}

#txt-name{
    margin-top: -17px;
    width:320px;
    height: 40px;
    border-radius: 8px;
    font-size: large;

}

.Password{
    line-height: 60px;
    font-size: 25px;   
}
#txt-password{
    margin-top: -17px;
    width:320px;
    height: 40px;
    border-radius: 8px;
    font-size: large;

}

.checkbox{
    line-height: 60px;
    font-size: 15px;
}
#fgt-pass{
    margin-left: 110px;
    
}

#btn{
    width:320px;
    height: 40px;
    font-weight: bold;
    background-color: rgb(208, 0, 255);
    border-radius: 8px;
    font-size: large;
    font-weight: bolder;
}

.signUp{
    line-height: 60px;
    font-size: 15px;
    padding-top: 15px;

}